---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Card from '../components/Card.astro';
---
<Layout title="<MiguelRey /> Frontend Developer">
<header>
	<Navigation />
</header>

	<main>
	</main>
</Layout>
