---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
---
import Navigation from '../components/Navigation.astro';
---
<Layout title="<MiguelRey /> Frontend Developer">
<Navigation />
	<main>
		<h1 class="fluid-text-4xl">&lt;<span class="text-gradient">MiguelRey</span> /&gt;</h1>
	</main>
</Layout>
